.title {
    text-align: center;
    color: cadetblue;
    padding: 20px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 330px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #EBEBEB;
    border-radius: 15px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.input_form {
    padding: 40px 15px;
}

input {
    border: 1px;
    outline: none;
    width: 100%;
    height: 24px;
    border-radius: 5px;
    text-indent: 5px;
    margin-bottom: 15px;
}

button {
    color: #524E49;
    border: none;
    border-radius: 10px;
    transition: all 500ms ease-out;
    width: auto;
    height: 34px;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 10px;
}

button:hover {
    transform: skew(10deg);
}

#register {
    background: #B7E4B6;
}

#update_token {
    background: #E7E98B;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center
}

#msg {
    color: red;
    margin-top: -3%;
    display: none;
}