<!DOCTYPE html>
<html lang="en">
<head>
    <title>th2empty LP</title>
    <link type="image/png" sizes="16x16" rel="icon" href="/images/favicon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <script rel="script" type="text/javascript" src="/scripts/registration.js"></script>
</head>
<body>
    <div class="title"><h1>CBot v1.1 Registration</h1></div>
    <div class="card">
        <div class="container">
            <form class="input_form">
                <input type="text" name="access_token_field" id="access_token_field" placeholder="KateMobile access token" required/>
                <p id="msg">Unknown error</p>
                <div class="buttons">
                    <button name="register" id="register" type="button" onclick="register_user()">Подключить</button>
                    <button name="update_token" id="update_token" type="button" onclick="update_user()">Обновить токен</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>